
<div class="tv-container">
  <app-product-buy-box img="./assets/images/tv9.jpg" name="Televizori" price="159.000 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/tv2.jpg" name="Televizori" price="159.999 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/tv3.jfif" name="Televizori" price="158.999 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/tv6.jfif" name="Televizori" price="899.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/tv7.jfif" name="Televizori" price="374.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/tv8.jpg" name="Televizori" price="329.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/tv4.jfif" name="Televizori" price="154.999 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/tv5.jpg" name="Televizori" price="149.999 "></app-product-buy-box>




</div>
