<header>

  <div class="header-left">

    <a routerLink="">TechShop</a>

    <div class="delivery">
    <label>Deliver to</label>
    <select>
      <option>North Macedonioa</option>
    </select>
  </div>

  </div>

  <div class="header-center">

    <app-input></app-input>

  </div>

  <div class="header-right">

    <a routerLink="signin">
    <button class="signin" mat-raised-button >Sign In</button>
  </a>


<a routerLink="signin">
  <button class="cart" matBadge="0" mat-flat-button ><mat-icon>shopping_cart</mat-icon></button>
</a>

  </div>


</header>

<app-navbar></app-navbar>

