<div class="phone-container">

  <app-product-buy-box img="./assets/images/phone.jpg" name="Phone" price="1.499"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/phone1.jpg" name="Phone" price="1.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/phone2.png" name="Phone" price="2.199"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/phone3.jpg" name="Phone" price="2.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/phone4.jpg" name="Phone" price="8.799"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/phone5.jfif" name="Phone" price="9.799"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/phone6.jpg" name="Phone" price="10.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/phone7.jpg" name="Phone" price="10.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/phone8.webp" name="Phone" price="10.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/phone9.webp" name="Phone" price="10.999"></app-product-buy-box>



</div>
