
<div class="cam-container">
  <app-product-buy-box img="./assets/images/cam.jfif" name="Camera" price="11.699"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/cam3.jpg" name="Camera" price="12.499"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/cam4.jpg" name="Camera" price="12.599 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/cam5.jpg" name="Camera" price="14.899"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/cam6.jpg" name="Camera" price="27.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/cam7.jfif" name="Camera" price="29.499"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/cam8.jpg" name="Camera" price="35.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/cam9.jpg" name="Camera" price="36.999 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/cam10.jpg" name="Camera" price="66.999"></app-product-buy-box>




</div>
