<div class="gaming-container">

  <app-product-buy-box img="./assets/images/g4.jpg" name="Keyboard" price="369"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/g5.jpg" name="Mouse" price="299"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/g6.jpg" name="Mouse" price="359"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/g7.jpg" name="Gamepad" price="299"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/g1.jpg" name="Nintendo Switch" price="23.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/g2.jpg" name="Nintendo Switch" price="20.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/g3.jpg" name="Nintendo Switch" price="19.999"></app-product-buy-box>
  <app-product-buy-box img="./assets/images/g8.webp" name="Headphones" price="9.950"></app-product-buy-box>


</div>
