<div class="container">

  <div class="naum">
    <h1>Naum Zlatanovski:</h1>
    <a href="https://instagram.com/naumz12">
      <p class="insta"><span class="iconify" data-width="30" data-icon="mdi:instagram"></span>@naumz12</p>

    </a>


    <a href="https://facebook.com/NaumZlatanovski">
      <p class="fb"><mat-icon>facebook</mat-icon> Naum Zlatanovski</p>
    </a>

  </div>





  <div class="andrej">
    <h1>Andrej Vanevski:</h1>
    <a href="https://instagram.com/vanevski_a">
      <p class="insta"><span class="iconify" data-width="30" data-icon="mdi:instagram"></span>@vanevski_a</p>

    </a>


    <a href="https://facebook.com/AndrejVanevski">
      <p class="fb"><mat-icon>facebook</mat-icon>Andrej Vanevski</p>
    </a>

  </div>



  <div class="david">
    <h1>David Jovanovski:</h1>
    <a href="https://instagram.com/vanevski_a">
      <p class="insta"><span class="iconify" data-width="30" data-icon="mdi:instagram"></span>@vanevski_a</p>

    </a>


    <a href="https://facebook.com/AndrejVanevski">
      <p class="fb"><mat-icon>facebook</mat-icon>Andrej Vanevski</p>
    </a>

  </div>



  <div class="stefan">
    <h1>Stefan Janackovski:</h1>
    <a href="https://instagram.com/vanevski_a">
      <p class="insta"><span class="iconify" data-width="30" data-icon="mdi:instagram"></span>@vanevski_a</p>

    </a>


    <a href="https://facebook.com/AndrejVanevski">
      <p class="fb"><mat-icon>facebook</mat-icon>Stefan Janackovski</p>
    </a>

  </div>





</div>
