
<div class="comp-container">
  <app-product-buy-box img="./assets/images/comp.jpg" name="Computer" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/laptop3.jpeg" name="Laptop" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/laptop.webp" name="Laptop" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/comp2.webp" name="Computer" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/comp3.webp" name="Computer" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/comp4.jpg" name="Computer" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/comp55.jpg" name="Computer" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/comp6.jpg" name="Laptop Stand" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/comp7.jpg" name="Computer" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/laptop4.jpg" name="Laptop" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/comp8.jpg" name="Computer" price="17.299 "></app-product-buy-box>
  <app-product-buy-box img="./assets/images/laptop6.jpg" name="Laptop" price="17.299 "></app-product-buy-box>



</div>
