

<app-ad-section></app-ad-section>


<div class="product-container">

  <div class="top-feed">

<app-product-box title="Find your Ideal TV" img="./assets/images/tv1.png" url="/tv"></app-product-box>
<app-product-box title="Best Computers" img="./assets/images/comp.jpg" url="/computer"></app-product-box>



<app-signin-feed></app-signin-feed>
</div>

<div class="center-feed">
<app-product-box title="Gaming" img="./assets/images/g8.webp" url="/gaming_oprema"></app-product-box>
<app-product-box title="Cell Phones" img="./assets/images/phone9.webp" url="/phones"></app-product-box>
<app-product-box title="Cameras" img="./assets/images/cam11.webp" url="/cameras"></app-product-box>


</div>



</div>
