.product-container{
  align-items: center;
  margin-right: 20px;
  position: relative;
  top: 40px;

}

.top-feed{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.center-feed{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;

}
