<mat-form-field appearance="fill">
  <mat-label mat-button>All <mat-icon>menu</mat-icon></mat-label>
 <mat-select>
   <a routerLink="all"><mat-option> All Products</mat-option></a>
   <a routerLink="tv"><mat-option>Tvs</mat-option></a>
   <a routerLink="computer"><mat-option>Computers & Laptops</mat-option></a>
   <a routerLink="gaming_oprema"><mat-option>Gaming</mat-option></a>
   <a routerLink="cameras"><mat-option>Cameras</mat-option></a>
   <a routerLink="phones"><mat-option>Cell Phones</mat-option></a>
   <a routerLink="signin"><mat-option>Sign In</mat-option></a>
   <a routerLink="about"><mat-option>About Us</mat-option></a>






 </mat-select>
</mat-form-field>

